apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-fe-to-be
spec:
  podSelector:
    matchLabels:
      app: bookstore-be
  ingress:
  - from:
- namespaceSelector:
    matchLabels:
      kubernetes.io/metadata.name: frontend-ns
  podSelector:
    matchLabels:
      app: bookstore-fe
