apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: bookstore-ingress
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  ingressClassName: nginx
  rules:
    - host: bookstore.local
      http:
        paths:
          # Frontend
          - path: /
            pathType: Prefix
            backend:
              service:
                name: bookstore-fe-svc
                port:
                  number: 8080

          # Backend API
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: bookstore-be-svc
                port:
                  number: 3000
